*{
    margin: 0;
    padding: 0;

}

.open-inter{
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.btn{
    padding: 12.5px 16px;
    background-color: rgb(70, 145, 101);
    color: white;
    border: 0;
    border-radius: 5px;
}
.btn1{
    padding: 12.5px 16px;
    background: none;
    color: white;
    border-radius: 5px;
    border-color: white;
}
.btn:hover{
    background-color: #59b881;
    cursor: pointer;
}
.btn1:hover{
    background-color: rgba(255, 255, 255, 0.355);
    cursor: pointer;
}


header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
header nav div ul{
    display: flex;
    gap: 32px;
}
header nav div ul li{
    list-style: none;
}
header nav div ul a{
    text-decoration: none;
    color: black
}


#banner{
    background-image: url("/assets/hero-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 415px;
    text-align: center;
}
#banner .banner-info .texts #early-access{
    display: inline;
    background-color: white;
    color:#469165;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
}
#banner .banner-info .texts h1{
    font-size: 3.5em;
    margin: 16px 0;

}
#banner .banner-info .texts span{
    color: #30B868;
}
#banner .banner-info .texts #info{
    font-size: 13px;
}
#banner .buttons{
    margin: 16px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
}



#middle{
    text-align: center;
}
#middle .notes h2{
    font-size: 3em;
    margin-bottom: 16px;
}
#middle .notes p{
    font-weight: lighter;
    font-size: 13px;
    margin-bottom: 44px;
}
#middle .card-container{
    display: flex;
    margin: 0 120px 120px;
    gap: 24px;
}
#middle .card-container .card{
    padding: 70px 24px;
    box-shadow: 0px 0px 5px rgb(171, 171, 171);
    border-radius: 10px;
}
#middle .card-container .card img{
    background-color: #F95555;
    border: 14px solid #F95555;
    border-radius: 50px;
    margin-bottom: 16px;
}
#middle .card-container .card h3{
    margin-bottom: 16px;
}
#middle .card-container .card p{
    font-weight: lighter;
}


#bottom .container-image{
    display: flex;
    gap: 60px;
    margin: 120px;
    align-items: center;
}
#bottom .container-image .second-brain #solution{
    color: #469165;
    margin-bottom: 16px;
}
#bottom .container-image .second-brain h2{
    font-size: 3em;
    margin-bottom: 16px;
}
#bottom .container-image .second-brain #note{
    font-weight: lighter;
    margin-bottom: 40px;
}
#bottom .container-image .checks{
    display: flex;
    align-items: center;
}
#bottom .container-image .checks img{
    margin: 16px 6px;
}